.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin: 1em 0;
  }
}

.form_container {
  display: block;
  text-align: center;
  width: 700px;
}

.container_inputs {
  text-align: start;
  margin: 1em 0;
}

.labels {
  display: block;
  margin: .5em 0;
  font-size: 20px;
}

.inputs {
  width: 100%;
  padding: 1em;
  border-radius: 0.8rem;
  outline: none;
  font-size: 15px;
}

.selects {
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
}

.inputs, .selects {
  border: solid 1px black
}

.buttons {
  padding: 1em 3em;
  border-radius: 1rem;
  background-color: green;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 1em;
  border: none;
  cursor: pointer;
}

.content_area {
  resize: none;
  width: 100%;
  min-height: 20em;
  border-radius: 1rem;
  font-size: 15px;
  padding: 1em;
}

.content_area_resumo {
   resize: none;
  width: 100%;
  min-height: 10em;
  border-radius: 1rem;
  font-size: 15px;
  padding: 1em;
}
