.artigo {
    margin: 2em 1em;
}

.container_main_image {
    max-width: 1080px;
    max-height: 720px;
}

.main_image {
    width: 100%;
    border-radius: 10px;
}

.categoria {
    margin-top: .5em;
    margin-left: 1.5em;
    font-size: 25px;
    color: green;
}

.title {
    margin: .1em 0;
    font-size: 35px;
    color: black;
}

.infos p {
    font-size: 20px;
    color: gray;
    font-style: italic;
}

.content {
    margin: 1em 0;
}

.content p {
    line-height: 2;
    font-size: 20px;
    color: black;
}